.library {
  max-width: 900px;
  padding: 30px;
  margin: auto;
}

.library__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.library__album-img {
  width: 100%;
  box-shadow: 0 0 4px #333;
  cursor: pointer;
}

.library__display {
  margin-top: 20px;
}

.library__title {
  color: #111;
  margin: 0;
  font-size: 30px;
}

.library__release {
  color: #111;
  margin: 0;
  font-size: 16px;
}

.library__tracks {
  list-style: none;
  padding: 0 0 70px 0;
}

.library__track {
  background-color: rgba(0,0,0,0.5);
  color: #ccc;
  padding: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.library__track:hover {
  background-color: #111;
}

.library__play {
  margin-right: 10px;
}

.library__link {
  text-decoration: none;
  display: inline-block;
  color: #111;
  border: solid 2px #111;
  padding: 5px 0;
  font-size: 13px;
  text-align: center;
  width: 80px;
  margin: 10px 3px 0 0;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.library__link:hover {
  background-color: #111;
  color: #ccc;
}