.library {
  margin: auto;
  font-family: 'Mukta Mahee', sans-serif;
}

.library__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.library__album-img {
  width: 100%;
  box-shadow: 0 0 4px #333;
  cursor: pointer;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.library__album-img--open,
.library__album-img:hover {
  width: 106%;
  margin-left: -3%;
}

.library__display {
  margin-top: 20px;
}

.library__display-info {
  background-color: rgba(0,0,0,0.5);
  color: #ccc;
  padding: 10px;
}

.library__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
}

.library__release {
  margin: 0;
  font-size: 16px;
}

.library__tracks {
  list-style: none;
  padding: 0;
  margin-top: 3px;
}

.library__track {
  background-color: rgba(0,0,0,0.5);
  color: #ccc;
  padding: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.library__track:hover {
  background-color: #111;
}

.library__play {
  margin-right: 10px;
}

.library__link {
  text-decoration: none;
  display: inline-block;
  color: #ccc;
  border: solid 2px #ccc;
  padding: 5px 0;
  font-size: 13px;
  text-align: center;
  width: 80px;
  margin: 10px 3px 0 0;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.library__link:hover {
  background-color: #ccc;
  color: #111;
}

@media (max-width: 580px) {
  .library__grid {
    grid-gap: 10px;
  }

  .library__display {
    margin-top: 10px;
  }

  .library__title {
    font-size: 25px;
    line-height: 25px;
  }
}