.about {
  color: #ccc;
}

.about__blurb {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 25px;
  line-height: 28px;
  text-align: justify;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
}

.about__link {
  color: #9fc793;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.about__link:hover {
  text-shadow: 0 0 4px #91da93;
}