.music__albums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  grid-gap: 30px;
  max-width: 900px;
  margin: auto;
}

.music__album-img {
  width: 100%;
  box-shadow: 0 0 4px #333;
}

.music__player {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}

.music__player-play {
  padding: 20px;
  cursor: pointer;
}

.music__player-play:hover {
  color: #ccc;
}

.music__player-timeline {
  position: absolute;
  left: 50px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  background-color: white;
}

.music__player-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #bbb;
}

.music__canvas {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  opacity: 0.3;
}