.app__video {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.app__page-container {
  max-width: 900px;
  margin: 0 auto 70px auto;
  padding: 30px;
}