.navbar {
  text-align: center;
  padding: 30px;
}

.navbar__nav {
  display: inline-block;
}

.navbar__link {
  font-family: 'Mukta Mahee', sans-serif;
  text-transform: uppercase;
  margin: 0 35px;
  opacity: 0.8;
  color: #1B1B0F;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.navbar__link:hover,
.navbar__link--active {
  color: rgb(215, 221, 210);
  text-shadow: 0 0 8px rgb(215, 221, 210);
}
  